

   <br>
   <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>
  <div class="container-fluid">
    <!-- <h1 align="center">Online Movie Ticket System</h1>
    <br> -->
    <!-- <img src="../assets/img/movie.png" alt="" width="100" height="80"><br> -->
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      <a class="navbar-brand" href="">
      </a>
      <ul class="nav nav-pills ">
     
      <li class="nav-item">
       <a class="nav-link" class="btn btn-light btn-sm mr-3"  routerLink="adminlogin">Admin Login</a>
     </li>

    </ul>
    </nav>
    </div>
  
  <div class="container-fluid">
    <marquee behavior="scroll" direction="right"><h2><i>Online Movie Ticket System</i></h2></marquee>

  <router-outlet></router-outlet>
  </div>