<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>

<div style="margin-left: -2%;margin-top: -1%;background-color:whitesmoke;bottom: 0;">
    <br><br>
    <!-- <h3 style="color:blueviolet" align="center" >Admin Login</h3> -->
<form class="container panel-default col-md-4">
<div class="form-group" *ngIf="checkAuthentication0" align="center">

    <img src="../assets/img_avatar2.png" alt="" width="100" height="80"><br><br>

  <b>  <label>Admin Name</label></b>&nbsp;
    <input type="text" name="uname" [(ngModel)]="username" placeholder="Enter admin name" required><br><br>

    &nbsp;<b><label>Password </label></b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="password" name="pass" [(ngModel)]="password" placeholder="Enter password" required><br><br>
     
     <button type="submit" class="btn btn-success" (click)='aLogin()'>Login</button>&nbsp;&nbsp;
     <button type="reset" class="btn btn-danger">Cancel</button> 
</div>
<div align="center">
    <div *ngIf="checkAuthentication1">
        Welcome Admin
</div>
</div>

<div *ngIf="checkAuthentication2" align="center">
    Not an admin !!
</div><br><br><br><br><br><br><br><br><br><br>
<br>
<br>

